<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="container">
    <h2> Order Data:</h2>
    <ul>
        <li>
            first: <%= first %><br>
            last: <%= last %><br>
            address: <%= address %><br>
        </li>
    </ul>
</div>
</body>
</html>