<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="container">
    <h2> Order Data:</h2>
    <ul>
        <li>
            first: <%= data[0] %><br>
            last: <%= data[1] %>< /br>
        </li>
    </ul>
</div>
</body>
</html>