<!DOCTYPE html>
<html>
<head>
</head>
<body>

<form action="http://localhost:3000/" method="POST">


    <input type="submit" name="go" value="go"/>
</form>

<div class="container">
    <h2> Order Data:</h2>
    <ul>
        <li>
            first: <%= first %><br>
            last: <%= last %><br>
            address: <%= address %><br>
        </li>
    </ul>
</div>
</body>
</html>